@media (max-width: 575px) { 
    .memecolumns{
        column-count: 1;
    }
}

@media (min-width: 576px) { 
    .memecolumns{
        column-count: 2;
    }
}

@media (min-width: 768px) { 
    .memecolumns{
        column-count: 3;
    }
 }

@media (min-width: 992px) { 
    .memecolumns{
        column-count: 4;
    }
 }

@media (min-width: 1200px) { 
    .memecolumns{
        column-count: 5;
    }
 }